*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #95DAEE;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background: #C1E9FC;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  #display {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--clr);
    color: white;
  }
  
  button:hover {
    background-color: #ddd;
  }
  